<%= form_for(trash) do |f| %>
  <% if trash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trash.errors.count, "error") %> prohibited this trash from being saved:</h2>

      <ul>
      <% trash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :recycle_status %>
    <%= f.text_field :recycle_status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
