<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @school.size %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @school.rank %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
